// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.fira-code-body {
  font-family: "Iosevka Term Web";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

body {
  display: flex;
  color: #cdd6f4; /* Texto principal */
  background: #1e1e2e; /* Base */
  font-family: "Fira Code", serif;
  margin-right: 9em;
  padding: 1em;
}

img {
  height: 660px;
  width: 440px;
  margin-left: 8em;
  border-radius: 12px;
  border: 1px solid #313244; /* Surface0 */
  box-shadow:
    0 4px 8px 0 rgba(17, 17, 27, 0.2),
    0 6px 20px 0 rgba(17, 17, 27, 0.19);
}

nav {
  display: grid;
  grid-row-gap: 2em;
  grid-column-gap: 3em;
  grid-template-columns: 1fr 1fr 1fr;
  min-width: 28em;
  grid-auto-rows: max-content;
}

h1 {
  font-size: 2.2em;
  color: #f5e0dc; /* Rosewater */
  font-weight: 600;
  grid-column: 1/-1;
  text-align: center;
  margin-bottom: 0.2em;
  margin-top: 2.4em;
}

ul {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  list-style-type: none;
}

li {
  line-height: 1.4em;
  margin-left: 4.8em;
}

/* Colores diferentes para cada título */
nav ul:nth-of-type(1) .title {
  /* Study */
  color: #f38ba8; /* Red */
}

nav ul:nth-of-type(2) .title {
  /* Tech */
  color: #89b4fa; /* Blue */
}

nav ul:nth-of-type(3) .title {
  /* Linux */
  color: #a6e3a1; /* Green */
}

nav ul:nth-of-type(4) .title {
  /* Social */
  color: #f5c2e7; /* Pink */
}

nav ul:nth-of-type(5) .title {
  /* Resources */
  color: #cba6f7; /* Mauve */
}

nav ul:nth-of-type(6) .title {
  /* Tools */
  color: #fab387; /* Peach */
}

.title {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  line-height: 2em;
  margin-left: 3.2em;
}

a {
  color: #bac2de; /* Subtext0 */
  font-size: 1.1em;
  font-family: "Iosevka Term Web";
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #a6adc8; /* Subtext1 */
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  body {
    display: grid-column;
  }
}
